.login-page {
  max-width: 500px;
  border: 2px solid #808080;
  border-radius: 5px;
  padding: 30px;
  margin: 50px auto;
  justify-content: center;
}

.login-page h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #555;
}

.login-page form input,
.login-page form button {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  padding-left: 5px;
  outline: #808080;
  border: 1px solid #808080;
}

.login-page form .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-page form button {
  width: 150px;
  background: #808080;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.login-page form a {
  color: orange;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: 600;
}
.login-page form .error {
  color: crimson;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 5px;
}
